<div class="container-fluid" style="padding-top: 7px">
<ul id="tiles">

  <% pins.each(function(pin) { %>
    <li>
      <!-- pin img -->
      <a href="#/pins/<%= pin.id %>">
        <img src="<%= pin.escape("img") %>" class="img-responsive">
      </a>
      <p><%= pin.escape("description") %></p>



      <!-- check for current_user -->
      <% if(pin.get("pinned")) { %>
        <!-- edit pin button -->
        <div class="tilt"><button type="button" class="btn btn-default" id="pin-edit-button" data-id="<%= pin.id %>">
          <span class="glyphicon glyphicon-pencil" id="edit-icon" data-id="<%= pin.id %>"></span>
        </button></div>
      <% } else { %>
        <!-- add pin button -->
        <div class="tilt"><button type="button" class="btn btn-default" id="pin-add-button" data-id="<%= pin.id %>" style="background: transparent; padding-top: 2px; padding-bottom: 2px; float: right">
          <span class="glyphicon glyphicon-pushpin" id="add-icon" data-id="<%= pin.id %>"></span>
        </button></div>

        <!-- user info/link -->
        <a href="#/users/<%= pin.escape('user_id') %>/boards/<%= pin.escape('board_id') %>">
          <div id="user-info">
            <b><%= pin.escape("user_fname") %> <%= pin.escape("user_lname") %></b><br>
            <%= pin.escape("board_name") %>
          </div>
        </a>
      <% } %>

    </li>

  <% }); %>
</ul>
</div>

<script>
$(document).imagesLoaded(function() {
  // Call the layout function.
  $('#tiles li').wookmark({
    align: "center",
    autoResize: true, // This will auto-update the layout when the browser window is resized.
    container: $('#tiles'), // Optional, used for some extra CSS styling
    offset: 10, // Optional, the distance between grid items
    itemWidth: 236 // Optional, the width of a grid item
  });
});
</script>
