<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 align="center"><%= pin.escape("description") %></h4>
</div>


<div class="modal-body">

  <img id="show-pin-img" src='<%= pin.escape("img") %>' class="img-responsive">

</div>

<div class="modal-footer" style="text-align: center">

  <!-- check for current_user -->
  <% if(pin.get("pinned")) { %>
    <!-- edit pin button -->
    <div class="tilt"><button type="button" class="btn btn-default" id="pin-edit-button" data-id="<%= pin.id %>">
      <span class="glyphicon glyphicon-pencil" id="edit-icon" data-id="<%= pin.id %>"></span>
    </button></div>
  <% } else { %>
    <!-- add pin button -->
    <div class="tilt"><button type="button" class="btn btn-default" id="pin-add-button" data-id="<%= pin.id %>" style="background: transparent; padding-top: 2px; padding-bottom: 2px; float: right">
      <span class="glyphicon glyphicon-pushpin" id="add-icon" data-id="<%= pin.id %>"></span>
    </button></div>
  <% } %>

  <!-- user info/link -->
  <a href="#/users/<%= pin.escape('user_id') %>/boards/<%= pin.escape('board_id') %>">
    <div id="user-info">
      <b><%= pin.escape("user_fname") %> <%= pin.escape("user_lname") %></b><br>
      <%= pin.escape("board_name") %>
    </div>
  </a>
</div>

