<% var header = (board.id === undefined) ? "Create a Board" : "Edit Board / " + board.escape("name") %>
<% var message = (board.id === undefined) ? "Create Board" : "Save Changes" %>

<h2 align="center"><%= header %></h2>

<form role="form">

  <div class="row">
    <div class="col-xs-1 col-xs-offset-3">
    
      <label for="board_name">Name*</label>
    </div>
    
    <div class="col-xs-4">
      <input 
        class="form-control"
        id="board_name" 
        name="board[name]" 
        type="text"
        value="<%= board.escape("name") %>"
        placeholder="ex: For the Home">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-1 col-xs-offset-3">
        <label for="board_desc">Description</label>
    </div>
  
    <div class="col-xs-4">
        <textarea 
          class="form-control"
          id="board_desc" 
          name="board[description]"
          placeholder="Add a short description to your board"><%= board.escape("description") %></textarea>
        <br>
        
    </div>
  </div>

  <div class="row">
    <div class= "col-xs-1 col-xs-offset-4">
      <% if(board.id !== undefined) { %>        
        <a href="#/users/<%= board.escape("user_id") %>/boards/<%= board.id %>/delete" class="btn btn-default">Delete Board</a>
      <% } %>

    </div>
  
    <div class= "col-xs-2 col-xs-offset-1">
      <input type="submit" class="hidden">
      <a href="/" class="btn btn-default">Cancel</a>
      <button type="submit" class="btn btn-primary"><%= message %></button>
    </div>
  </div>
</form>
