<% var header = (board.id === undefined) ? "Create a Board" : "Edit Board / " + board.escape("name") %>
<% var message = (board.id === undefined) ? "Create Board" : "Save Changes" %>

<form role="form">

  <div class="row">
    <div class="col-xs-1 col-xs-offset-2">
    
      <label for="board_name">Name*</label>
    </div>
    
    <div class="col-xs-6 col-xs-offset-1">
      <input 
        class="form-control"
        id="board_name" 
        name="board[name]" 
        type="text"
        value="<%= board.escape("name") %>"
        placeholder="ex: For the Home">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-1 col-xs-offset-2">
        <label for="board_desc">Description</label>
    </div>
  
    <div class="col-xs-6 col-xs-offset-1">
        <textarea 
          class="form-control"
          id="board_desc" 
          name="board[description]"
          placeholder="Add a short description to your board"><%= board.escape("description") %></textarea>
        <br>
        
    </div>
  </div>

  <div class="row">
    <div class= "col-xs-1 col-xs-offset-1">
      <% if(board.id !== undefined) { %>   
        <input type="submit" class="hidden">
        
        <a href="#/users/<%= board.escape("user_id") %>/boards/<%= board.id %>/delete" class="btn btn-default">Delete Board</a>
      <% } %>

    </div>
  
    <div class= "col-xs-5 col-xs-offset-4">      
      <button type="button" class="btn btn-default" id="cancel">Cancel</button>
      <button type="button" class="btn btn-primary"  id="submit-board" data-id="<%= board.id %>"><%= message %></button>
    </div>
  </div>
  <p></p>
</form>