<% action = (@board.persisted? ? api_board_url(@board) : api_boards_url) %>
<% formaction = (@board.persisted? ? api_board_url(@board) : root_url) %>
<% method = (@board.persisted? ? "PUT" : "POST") %>
<% message = (@board.persisted? ? "Save Changes" : "Create Board") %>

<form action="<%= action %>" method="POST">
  <input 
    name="_method"
    type="hidden"
    value="<%= method %>">
  <input 
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>"> 
    
  <label for="board_name">Name*</label>
  <input 
    id="board_name" 
    name="board[name]" 
    type="text"
    value="<%= @board.name %>">
  <br>
  
  <label for="board_desc">Description</label>
  <textarea 
    id="board_desc" 
    name="board[description]"4><%= @board.description unless @board.description.nil? %></textarea>
  <br>

  <label for="board_category">Category</label>
  <select name="board[category_id]">
    <option>Choose a category</option>
    <% @categories.each do |category| %>
      <option 
        value="<%= category.id %>"
        <%= "selected" if @board.category_id == category.id %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>
  <br>
  
  <label for="board_private">Secret</label>
  <input 
    type="radio" 
    name="board[private]" 
    value="false"
    <%= "checked" if @board.private.nil? || @board.private == false %>>No
  <br>
  <input 
    type="radio" 
    name="board[private]" 
    value="true"
    <%= "checked" if @board.private == true %>>Yes
  <br>

  <button formaction="<%= formaction %>">Cancel</button>
  <input type="submit" value="<%= message %>">
</form>